* {
    box-sizing: border-box;
    border: 1px solid red; 
}

main{
    margin: 0; 
    display: flex;  
    flex-direction: column;
}

#div1{
    display: flex;
}

main > div{
    font-weight: bold;
}

main > div > input{
    margin-left: 10px;
    margin-bottom: 10px;
    
}

#div4 > div input{
    margin: 10px 10px;
}

#btn{
    display: flex;
    margin: auto;
    padding: 20px;
    
}

#yellow-container{
    margin: auto;
    display: flex;
    width: 700px;
    height: 700px;
}

#yellow-container > section:nth-child(1),
#yellow-container > section:nth-child(3){
    flex-basis: 10%;

}
#yellow-container > section:nth-child(2){
    flex-basis: 80%;
    border: 3px solid black;
}

.box{
    height: 100%;
    width: 100%;
}

