* {
    border: 1px solid black;

    box-sizing: border-box;
}

body {
    margin: 0;
}

main{

    width: 1500px;

    margin: auto;
}

header {

    height: 150px;
    display: flex;
}

.header-left {
    
}

#main-logo {
    width: 50px;


}