#div-1 {
    background-color: white;
    border: 1px solid black;
    height: 300px;
    width: 300px;
}

.cls-1 {
    background-color: red;
    border: 1px solid white;
    height: px;
    width: 50px;
}